@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")

$discord: #5865f2
$twitter: #1d9bf0
$telegram: #0c9ebf
$retpoŝto: #ea4335
$ligiloj: "discord" $discord, "twitter" $twitter, "telegram" $telegram, "at" $retpoŝto

$sqrt3: 1.732 // libsass ne enhavas la matematikan biblioteko
$heksagono-larĝo: 64px

html
    background: url("pejzaĝo.webp") fixed
    height: 100%

body
    text-shadow: #222 0 0 2px

.navbar
    font-size: $size-4

.navbar-brand
    font-size: $size-2
    white-space: nowrap
    @include mobile
        font-size: $size-3
    &>img
        margin-right: $gap/2
        @include mobile
            margin-right: $gap/3
            max-height: 3rem

.navbar-end
    padding: 1rem 0

.navbar-item.is-tab
    border-bottom-width: 4px
    @include touch
        border-bottom-width: 0
    @include desktop
        margin: 0 2px
    &.is-active
        background: linear-gradient(to right, $green, $blue)
        border-radius: $radius

footer
    text-align: center
    font-size: $size-3
    .columns
        margin: $gap 0
    .column
        max-width: $heksagono-larĝo
        margin: 0 $gap/2
        padding: 0
        @include mobile
            margin: 0 8px
    a
        display: block
        height: $heksagono-larĝo
        position: relative
        top: 0
        transition: top .2s $easing
        &:hover
            top: -4px
            .ombro
                filter: blur(8px)
    i
        position: absolute
    %heksagono
        position: absolute
        display: block
        width: $heksagono-larĝo
        height: round($heksagono-larĝo / $sqrt3)
        content: " "
    .heksagono
        @extend %heksagono
        &::before
            @extend %heksagono
            transform: rotate(60deg)
        &::after
            @extend %heksagono
            transform: rotate(120deg)
    .ombro
        background: $black
        filter: blur(2px)
        transition: filter .2s $easing
    .icon
        left: round($heksagono-larĝo - 48px) / 2
        top: round($heksagono-larĝo / $sqrt3 - 48px) / 2

    @each $name, $color in $ligiloj
        a
            .#{$name}
                &, &::before, &::after
                    background: $color
            &:hover .#{$name}
                &, &::before, &::after
                    background: darken($color, 4)
