// tiparo
@import made-tommy

// bulma
$green: #3cc600
$blue: #009bd3
$family-sans-serif: "MADE Tommy", sans-serif
@import ../vendor/bulma/sass/utilities/initial-variables
@import ../vendor/bulma/sass/utilities/derived-variables
$body-font-size: 16pt
$scheme-main: transparent
$scheme-main-bis: transparent
$code: $red
$code-background: transparent
$link: $text
$link-hover: $text-strong
// box
$box-background-color: transparentize($text-invert, .5)
$box-link-hover-shadow: $black-ter 0 2px 8px
// card
$card-content-background-color: $box-background-color
$card-shadow: $box-link-hover-shadow
$card-radius: .5rem
// navbar
$navbar-height: 5rem
$navbar-item-color: $white
$navbar-item-hover-color: $white-bis
$navbar-item-img-max-height: 4rem
$navbar-tab-hover-border-bottom-color: mix($green, $blue)
$navbar-tab-active-color: $white
$navbar-tab-active-border-bottom-style: none
@import ../vendor/bulma/sass/utilities/_all
@import ../vendor/bulma/sass/base/_all
@import ../vendor/bulma/sass/components/card
@import ../vendor/bulma/sass/components/navbar
@import ../vendor/bulma/sass/elements/box
@import ../vendor/bulma/sass/elements/container
@import ../vendor/bulma/sass/elements/content
@import ../vendor/bulma/sass/elements/icon
@import ../vendor/bulma/sass/elements/image
@import ../vendor/bulma/sass/elements/other
@import ../vendor/bulma/sass/grid/columns
@import ../vendor/bulma/sass/helpers/float
@import ../vendor/bulma/sass/helpers/typography
@import ../vendor/bulma/sass/layout/footer
@import ../vendor/bulma/sass/layout/section

h1,h2
    font-variant: small-caps

hr
    background: linear-gradient(to right, $green, $blue)
    opacity: .8

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")

$discord: #5865f2
$twitter: #1d9bf0
$telegram: #0c9ebf
$retpoŝto: #ea4335
$ligiloj: "discord" $discord, "twitter" $twitter, "telegram" $telegram, "at" $retpoŝto

$sqrt3: 1.732 // libsass ne enhavas la matematikan biblioteko
$heksagono-larĝo: 64px

html
    background-size: cover
    height: 100%

body
    display: flex
    flex-direction: column
    height: 100%

.navbar
    font-size: $size-4
    font-weight: $weight-medium
    text-align: center

.navbar-brand>.navbar-item
    font-size: $size-1
    white-space: nowrap
    @include mobile
        font-size: $size-4
    img
        margin-right: $gap/2
        @include mobile
            margin-right: $gap/3
            max-height: 3rem
            width: 48px

.navbar-end
    padding: 1rem .5rem

.navbar-item.is-tab
    border-bottom-width: 4px
    min-height: 0
    text-shadow: #000 1px 1px 2px
    @include touch
        border-bottom-width: 0
    @include desktop
        margin: 0 2px
    &.is-active
        background: linear-gradient(to right, $green, $blue)
        border-radius: $radius
        text-shadow: none
    &.etoso:hover
        border-bottom-color: transparent

#hela
    color: $yellow
    text-shadow: $yellow 0 0 8px
#malhela
    text-shadow: $white 0 0 8px

footer
    text-align: center
    font-size: $size-3
    font-weight: $weight-bold
    .columns
        margin: $gap 0
    .column
        max-width: $heksagono-larĝo
        margin: 0 $gap/2
        padding: 0
        @include mobile
            margin: 0 8px
    a
        display: block
        height: $heksagono-larĝo
        position: relative
        top: 0
        transition: top .2s $easing
        &:hover
            top: -4px
            .ombro
                filter: blur(8px)
    i
        color: $white
        position: absolute
    .heksagono
        &, &::before, &::after
            position: absolute
            display: block
            width: $heksagono-larĝo
            height: round($heksagono-larĝo / $sqrt3)
            content: " "
        &::before
            transform: rotate(60deg)
        &::after
            transform: rotate(120deg)
    .ombro
        &, &::before, &::after
            background: $black
            filter: blur(2px)
            transition: filter .2s $easing
    .icon
        left: round($heksagono-larĝo - 48px) / 2
        top: round($heksagono-larĝo / $sqrt3 - 48px) / 2

    @each $name, $color in $ligiloj
        a
            .#{$name}
                &, &::before, &::after
                    background: $color
            &:hover .#{$name}
                &, &::before, &::after
                    background: darken($color, 4)

@import ĉefpaĝo
@import novaĵoj
@import regularo
@import mapo
@import ekludi
@import elŝuti