@keyframes aperi
    0%
        opacity: 0
    100%
        opacity: 1
section.ĉefpaĝo em-karuselo
    border-radius: $radius
    box-shadow: #222 0 16px 32px
    overflow: hidden
    position: relative
    @include tablet
        float: right
        margin: 0 0 $gap $gap
        width: 50%
    @include mobile
        display: none
    img:nth-child(2)
        position: absolute
        top: 0; left: 0
        animation: aperi 1s $easing

nav.ĉefpaĝo
    ul
        justify-content: center
    li
        width: 300px
    .card-content
        text-align: center
    @media (hover: hover)
        .card
            position: relative
            top: 0
            transition: all .2s $easing
            img
                filter: saturate(.5)
                transition: filter .2s $easing
            &:hover
                box-shadow: $black-ter 0 4px 16px
                top: -2px
                img
                    filter: saturate(1)
