$text: #202020

@import bazo

html
    background-color: $grey-light
    @include mobile
        background-image: url("hela-mobile.webp")
    @include tablet
        background-image: url("hela.webp")

#malhela
    display: none

.ekludi
    .grava-informo
        background-color: transparentize(lighten($danger, 25%), .5)
    .kontrollisto
        background-color: transparentize(lighten($info, 25%), .5)
