// tiparo
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap")

// bulma
@import "../vendor/bulma/sass/utilities/initial-variables.sass"
$green: #3cc600
$blue: #009bd3
$family-sans-serif: 'Jost', sans-serif
$body-font-size: 16pt
$scheme-main: transparent
$scheme-main-bis: transparent
$text: $white-ter
$text-strong: $white
$code: $red
$code-background: transparent
$link: $white-ter
$link-hover: $white
// box
$box-background-color: transparentize($black, .5)
$box-link-hover-shadow: $black-ter 0 2px 8px
// card
$card-content-background-color: $box-background-color
$card-shadow: $box-link-hover-shadow
$card-radius: .5rem
// navbar
$navbar-item-img-max-height: 4rem
$navbar-tab-hover-border-bottom-color: mix($green, $blue)
$navbar-tab-active-border-bottom-style: none
@import "../vendor/bulma/sass/utilities/_all"
@import "../vendor/bulma/sass/base/_all"
@import "../vendor/bulma/sass/components/card"
@import "../vendor/bulma/sass/components/navbar"
@import "../vendor/bulma/sass/elements/box"
@import "../vendor/bulma/sass/elements/container"
@import "../vendor/bulma/sass/elements/content"
@import "../vendor/bulma/sass/elements/icon"
@import "../vendor/bulma/sass/elements/image"
@import "../vendor/bulma/sass/elements/other"
@import "../vendor/bulma/sass/grid/columns"
@import "../vendor/bulma/sass/helpers/float"
@import "../vendor/bulma/sass/helpers/typography"
@import "../vendor/bulma/sass/layout/footer"
@import "../vendor/bulma/sass/layout/section"

h1,h2
    font-variant: small-caps

hr
    background: linear-gradient(to right, $green, $blue)
    opacity: .8

@import bazo.sass
@import ĉefpaĝo.sass
@import novaĵoj.sass
@import regularo.sass
@import ekludi.sass
@import elŝuti.sass
