//@font-face
    font-display: swap
    font-family: "MADE Tommy"
    font-weight: 100
    src: url("tiparoj/MADE TOMMY Thin_PERSONAL USE.otf") format("opentype")

//@font-face
    font-display: swap
    font-family: "MADE Tommy"
    font-weight: 300
    src: url("tiparoj/MADE TOMMY Light_PERSONAL USE.otf") format("opentype")

@font-face
    font-display: swap
    font-family: "MADE Tommy"
    font-weight: 400
    src: url("tiparoj/MADE TOMMY Regular_PERSONAL USE.otf") format("opentype")

@font-face
    font-display: swap
    font-family: "MADE Tommy"
    font-weight: 500
    src: url("tiparoj/MADE TOMMY Medium_PERSONAL USE.otf") format("opentype")

@font-face
    font-display: swap
    font-family: "MADE Tommy"
    font-weight: 700
    src: url("tiparoj/MADE TOMMY Bold_PERSONAL USE.otf") format("opentype")

//@font-face
    font-display: swap
    font-family: "MADE Tommy"
    font-weight: 800
    src: url("tiparoj/MADE TOMMY ExtraBold_PERSONAL USE.otf") format("opentype")

//@font-face
    font-display: swap
    font-family: "MADE Tommy"
    font-weight: 900
    src: url("tiparoj/MADE TOMMY Black_PERSONAL USE.otf") format("opentype")
