<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stilo.css">
    <title>{{ config.title }}</title>
</head>

<body>
    <header>
        <nav class="navbar" role="navigation">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <img src="/stelo.svg" alt="insigno"> {{ config.title }}
                </div>
                <a role="button" class="navbar-burger" data-target="menuo">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div id="menuo" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-tab{% if current_path == '/' %} is-active{% endif %}"
                        href="/">
                        Ĉefpaĝo
                    </a>
                    <a class="navbar-item is-tab{% if current_path is starting_with('/novaĵoj/') %} is-active{% endif %}"
                        href="/novaĵoj">
                        Novaĵoj
                    </a>
                    <a class="navbar-item is-tab{% if current_path is starting_with('/regularo/') %} is-active{% endif %}"
                        href="/regularo">
                        Regularo
                    </a>
                    <a class="navbar-item is-tab" href="{{ config.base_url | replace(from='https://', to='http://') }}:8123">Mapo</a>
                    <a class="navbar-item is-tab">Ekludi</a>
                </div>
            </div>
        </nav>
    </header>
    {% block enhavo %}{% endblock %}
    <footer class="footer">
        EsperaMondo en aliaj platformoj:
        <ul class="columns is-mobile is-centered">
            {% for ligilo in config.extra.ligiloj %}
            <li class="column {{ ligilo.icon | split(pat='/') | last }}">
                <a href="{{ ligilo.url }}">
                    <i class="heksagono ombro"></i>
                    <i class="heksagono"></i>
                    <i class="icon fa-{{ ligilo.icon | split(pat='/') | first }} fa-{{ ligilo.icon | split(pat='/' ) | last }}"
                    title="{{ ligilo.title }}"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </footer>
    <script src="/menuo.js"></script>
</body>

</html>