{% extends "bazo.html" %}

{% block enhavo %}
<section class="section ĉefpaĝo">
    <article class="content is-clearfix">
        {{ section.content | safe }}
    </article>
    <nav>
        <ul class="columns has-text-centered">
            <li class="column"><a class="box" href="/ekludi">Kiel ekludi</a></li>
            <li class="column"><a class="box">Elŝuti mondmapon</a></li>
            <li class="column"><a class="box" href="{{ config.extra.mapo }}">Vidi enretan mapon</a></li>
        </ul>
    </nav>
</section>
{% endblock %}
