{% extends "bazo.html" %}

{% block enhavo %}
<section class="section ĉefpaĝo">
    <div class="content is-clearfix">
        {{ section.content | safe }}
    </div>
</section>
<nav class="section container ĉefpaĝo">
    <ul class="columns">
        {% for ligilo in section.extra.ligiloj %}
        <li class="column">
            <a href="{{ ligilo.href }}">
                <div class="card">
                    <div class="card-content">{{ ligilo.titlo }}</div>
                    <div class="card-image">
                        <figure class="image">
                            {% set bildo = resize_image(path=ligilo.bildo, width=300, height=300, format="webp") %}
                            <img src="{{ bildo.url }}" alt="Ekludi" width="300" height="300">
                        </figure>
                    </div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
<section class="section content container">
    <h2>Pri nia servilo</h2>
    <p>
        EsperaMondo estas paca Minecraft komunumo dediĉita sole de la uzo de Esperanto, la plej populara artefarita
        lingvo en la mondo.
        Fondita antaŭ pli ol 5 jaroj, EsperaMondo estas la plej maljuna kaj aktiva Minecraft servilo por
        Esperantistoj, havante dekojn da ludantoj ĉiu semajne.
        Ni esperas ke vi provu la servilon, kaj ke vi trovu ĝin afabla kaj amuza loko por praktiki Esperanton.
    </p>
</section>
{% endblock %}