{% extends "bazo.html" %}

{% block enhavo %}
<section class="section ĉefpaĝo">
    <div class="content is-clearfix">
        {{ section.content | safe }}
    </div>
</section>
<nav class="section container ĉefpaĝo">
    <ul class="columns">
        <li class="column">
            <a href="/ekludi">
                <div class="card">
                    <div class="card-content">Kiel ekludi</div>
                    <div class="card-image">
                        <figure class="image">
                            {% set image = resize_image(path="@/ekludi/tajpi-adreson.png", width=300, height=300, format="webp") %}
                            <img src="{{ image.url }}" alt="Ekludi">
                        </figure>
                    </div>
                </div>
            </a>
        </li>
        <li class="column">
            <a href="/elŝuti">
                <div class="card">
                    <div class="card-content">Elŝuti mondmapon</div>
                    <div class="card-image">
                        <figure class="image">
                            {% set image = resize_image(path="@/elŝuti.png", width=300, height=300, format="webp") %}
                            <img src="{{ image.url }}" alt="Elŝuti">
                        </figure>
                    </div>
                </div>
            </a>
        </li>
        <li class="column">
            <a href="/mapo">
                <div class="card">
                    <div class="card-content">Vidi enretan mapon</div>
                    <div class="card-image">
                        <figure class="image">
                            {% set image = resize_image(path="@/mapo.png", width=300, height=300, format="webp") %}
                            <img src="{{ image.url }}" alt="Mapo">
                        </figure>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</nav>
<section class="section content container">
    <h2>Pri nia servilo</h2>
    <p>
        Espera-Mondo.net estas paca Minecraft komunumo dediĉita sole de la uzo de Esperanto, la plej populara artefarita lingvo en la mondo.
        Fondita antaŭ pli ol 5 jaroj, Espera-Mondo.net estas la plej maljuna kaj aktiva Minecraft servilo por Esperantistoj, havante dekojn da ludantoj ĉiu semajne.
        Ni esperas ke vi provu la servilon, kaj ke vi trovu ĝin afabla kaj amuza loko por praktiki Esperanton.
    </p>
</section>
{% endblock %}
