{% extends "bazo.html" %}
{% import "dato.html" as dato %}

{% block enhavo %}
<nav id="novaĵoj">
    <ul>
        {% for page in section.pages %}
        <li>
            <a href="{{ page.path }}">
                {% if page.extra.bildo %}
                {% set img = resize_image(path=current_path ~ page.extra.bildo,
                width=256, height=256, op="fit", format="webp") %}
                <img src="{{ supro }}{{ img.url | replace(from=config.base_url ~ '/', to='') }}" alt="ilustro">
                {% endif %}
                <div>
                    <span>{{ page.title }}</span><br>
                    <small>{{ dato::dato(dato=page.date) }} − {{ page.extra.auxtoro }}</small>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}
